/* src/App.css */
/* FULL RESET - removes all default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  width:100%;
  overflow-x: hidden;
}

.navbar {
  background-color: #ff7043;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding-right: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.main-content {
  padding: 2rem;
  width: 100%;
}
